body {
    font-family: 'Roboto', sans-serif;
}

/* Navigation bar */
.navbar {
    overflow: hidden;
    background-color: #000000;
}

#link {
    color: #ffffff;
}

#link:hover {
    color: #ff2c2c;
}

/* Home page */
#home {
    color: #ffffff;
    padding-bottom: 200px;
    background-color: #000000;
  }

#title {
    padding-top: 130px;
    padding-bottom: 15px;
}

#name {
    font-size: 80px;
    font-family: 'Cookie', cursive;
    color: #ff2c2c;
}

.name-intro {
    font-size: 50px;
    font-family: 'Merriweather', serif;
}

.intro {
    font-size: 30px;
    color: #ffffff;
}

/* Profile picture */
#profile-picture {
    margin-top: 130px;
}

.button-container {
    margin-top: 45px;
}

#home-button {
    border-radius: 4px;
    padding-top: 10px;
    font-size: 14px;
    text-align: center;
    padding: 15px;
    transition: all 0.2s;
    cursor: pointer;
    color: #ffffff;
    border: 2px solid #ff2c2c;
    background-color: #000000;
}

#home-button:hover {
    border: 2px solid #000000;
    color: #000000;
    background-color: #ff2c2c;
} 

#home-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

#home-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    /* transition: 0.2s; */
}

#home-button:hover span {
    padding-right: 25px;
}

#home-button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Social media buttons */
.fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    background: #000000;
  }

#social-media {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
}

.fa:hover, #social-media:hover {
    text-decoration: none;
    color: #6cf3ec;
}

/* Contact Form arrow to take user top of page */
.fa-arrow-up {
    color: #ffffff;
}

#arrow {
    margin-top: 100px;
}

#arrow-animate {
    margin-top: 40px;
}

#arrow-animate:hover {
    -moz-animation: bounce 2s;
    -webkit-animation: bounce 2s;
    animation: bounce 2s;
}

#arrow-up-container {
    margin-bottom: -60px;
    text-align: center;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

/* About page */
#about {
    padding-bottom: 300px;
    background-color: #FA8072;
}

.title {
    margin-bottom: 40px;
}

.one-liner {
    font-size: 44px;
    font-family: 'Cookie', cursive;
    color: #ffffff;
}

.short-bio {
    font-size: 18px;
    color: #ffffff;
}

/* Portfolio */
#portfolio {
    margin-top: 60px;
    margin-bottom: 300px;
}

/* Contact */
.contact-wrapper {
    position: absolute;
        width: 0;
    height: 0;
    left: 0;
    top: 0;
    bottom: -100px;;
    background-color: #000000;
    /* padding: 100px; */
}

#contact {

    position: relative;
    min-height: 500px;
    background: black;
}

/* responsive design using viewport */
@-ms-viewport {
    width: device-width;
  }

@media (max-width: 768px) {
#sidebar {
    margin-left: -250px;
}
#sidebar.active {
    margin-left: 0;
}
}