body {
    font-family: 'Roboto', sans-serif;
}

/* Navigation bar */
.navbar {
    background-color: #3b3838;
}

#link {
    color: #ffffff;
}

#link:hover {
    color: #6cf3ec;
}

/* Home page */
#home {
    color: #000000;
    padding-bottom: 200px;
    animation-name: color;
    animation-iteration-count: infinite;
    animation-duration: infinite;
    animation: pulse 8s infinite alternate; /* animation-name followed by duration in seconds*/
    -webkit-animation: colorchange 50s; /* Chrome and Safari */
  }

  @keyframes colorchange
  {
    0%   {background: #eed4e8;}
    25%  {background: #f5d8ad;}
    50%  {background: #aaf0cf;}
    75%  {background: #b1b7f1;}
    100% {background: #f1b9da;}
  }

  @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
  {
    0%   {background: #eed4e8;}
    25%  {background: #f5d8ad;}
    50%  {background: #aaf0cf;}
    75%  {background: #b1b7f1;}
    100% {background: #f1b9da;}
  }

  @keyframes pulse {
      0% {
          background-color: #eed4e8;
      }
      25% {
          background-color: #f5d8ad;
      }
      50% {
          background-color: #aaf0cf;
      }
      75% {
          background-color: #b1b7f1;
      }
      100% {
          background-color: #f1b9da;
      }
  }

#title {
    padding-top: 130px;
    padding-bottom: 15px;
}

#name {
    font-size: 75px;
    color: #4e0072;
    font-family: 'Cookie', cursive;
}

.name-intro {
    font-size: 50px;
    font-family: 'Merriweather', serif;
}

.intro {
    color: #000000;
    font-size: 30px;
}

/* Profile picture */
#profile-picture {
    margin-top: 130px;
}

.button-container {
    margin-top: 45px;
}

#home-button {
    border-radius: 4px;
    padding-top: 10px;
    font-size: 14px;
    text-align: center;
    border: none;
    padding: 15px;
    transition: all 0.2s;
    cursor: pointer;
    color: #ffffff;
    background-color: #FA8072;
}

#home-button:hover {
    border: 2px solid #3AAFA9;
    color: #ffffff;
    background-color: #3AAFA9;
} 

#home-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

#home-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s;
}

#home-button:hover span {
    padding-right: 25px;
}

#home-button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Social media buttons */
.fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    background: #000000;
  }

#social-media {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
}

.fa:hover, #social-media:hover {
    text-decoration: none;
    color: #6cf3ec;
}

/* Contact Form arrow to take user top of page */
.fa-arrow-up {
    color: #ffffff;
}

#arrow {
    margin-top: 100px;
}

#arrow-animate {
    margin-top: 40px;
}

#arrow-animate:hover {
    -moz-animation: bounce 2s;
    -webkit-animation: bounce 2s;
    animation: bounce 2s;
}

#arrow-up-container {
    margin-bottom: -60px;
    text-align: center;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

/* About page */
#about {
    margin-top: 20px;
    padding-bottom: 300px;
    background-color: #FA8072;
}

.title {
    margin-bottom: 60px;
}

.one-liner {
    color: #ffffff;
    font-size: 44px;
    font-family: 'Cookie', cursive;
}

.short-bio {
    color: #ffffff;
    font-size: 18px;
}

/* Portfolio */
#portfolio {
    margin-top: 60px;
    margin-bottom: 300px;
}

/* Contact */
.contact-wrapper {
    position: absolute;
        width: 0;
    height: 0;
    left: 0;
    top: 0;
    bottom: -100px;;
    background-color: #000000;
    /* padding: 100px; */
}

#contact {

    position: relative;
    min-height: 500px;
    background: black;
}

/* responsive design using viewport */
@-ms-viewport {
    width: device-width;
  }

@media (max-width: 768px) {
#sidebar {
    margin-left: -250px;
}
#sidebar.active {
    margin-left: 0;
}
}